*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.container{
display: grid;
grid-template-rows: 1fr 1fr;
border: 2px solid red;
border-top-right-radius: 5rem;
border-bottom-left-radius: 5rem;
 width: 60%; 
 height: 90%;
 background-color: gray;
}
.scoreBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;  
}

.userInput, .computerInput{
    color: wheat;
    font-size: 2rem;
}
.Result{
    padding-top: 3rem;
    font-size: 2rem;
    color: black;
    padding-bottom: 3rem;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 20%;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 2rem;
}
.playerScore, .computerScore, h1{
    font-size: 3rem;
    color: aliceblue;
    margin: 0.5rem;
}
.computerScore{
    margin-left: -2rem;
}
.USER, .COMPUTER{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    padding-bottom: 2rem;
    
}
button{
    margin: 1rem;
    border-radius: 12px;
    
}
img{
    width: 7rem;
    height: 7rem;
    position: relative; 
    border-radius: 12px;
}
img:hover{
    box-shadow: rgba(17, 196, 11, 0.1);
    cursor: pointer;
    z-index: 5;
}
p{
    text-align: center;
    color: white;
    font-size: 25px;
}
.buttonWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
    .container{
     width: 100%;
    }
     .score{
        height: 40%;
        width: 50%;
        border: none;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 1rem;
    }
    .scoreBoard{
        padding-left: 3rem;
    }
   
    .COMPUTER{
        display: flex;
        flex-direction: row;
    }
    .userText, .computerText, .computerScore, .playerScore{
        font-size: 2rem;
     }
    .userInput, .computerInput{
            font-size: 1.5rem;
    }
    .USER, .COMPUTER{
        padding: 0;
        margin: -1.5rem;
    }
    .button{
        margin-top: -5rem;
    }
}
@media screen and (max-width: 430px) {
     .container{
     width: 80%;
    }
    .score{
        flex-direction: column;
       margin-top: 1rem;
    }
    .computerScore{
        margin-top: -2rem;
    }
    .button{
        margin-top: -3rem;
    }
    .userInput, .computerInput{
        font-size: 1rem;
            }
     h2{
        font-size: 2rem;
        text-align: center;
     }       
}
